{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- библиотека для иконок!!!! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="catalog-page">  
    {% csrf_token %}
    <div class="site-wrapper">
        <header class="main-header">
            <div class="header-left">
                <span class="project-name">Graffitty</span>
            </div>
            <div class="header-right">
                {% if user.username %}
                    <a href="/logout" class="header-link"><i class="fas fa-user"></i>Выйти</a>
                {% else %}
                    <a href="/sign-up" class="header-link"><i class="fas fa-user"></i> Регистрация / Войти</a>
                {% endif %}
                <a href="/user_cart" class="header-link"><i class="fas fa-shopping-cart"></i> Корзина</a>
                <a href="/orders_list" class="header-link"><i class="fas fa-box"></i> Мои заказы</a>
            </div>
        </header>
        {% block content %}
  
        {% endblock content %}
        
    </div>
</body>

{% block script %}

{% endblock script %}

</html>