<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>
            {% if user.username %}
                {{user.username}}
            {% else %}
                Not authorisated
            {% endif %}
        </h1>
        <h1>
            {% if user.profile.bank_card %}
                {{user.profile.bank_card}}
            {% else %}
                no card found
            {% endif %}
        </h1>
    </body>
</html>